In [1]:
import pandas as pd 
import numpy as np

In [5]:
ll ../data

total 152
-rw-r--r--@ 1 rajatghosh  staff  14531 Jul 20 10:30 DDOG.csv
-rw-r--r--@ 1 rajatghosh  staff  16813 Jul 20 10:31 DT.csv
-rw-r--r--@ 1 rajatghosh  staff  17284 Jul 20 10:24 NEWR.csv
-rw-r--r--@ 1 rajatghosh  staff  18642 Jul 20 10:32 SPLK.csv

In [29]:
class data_assessment(object):
    # parse basic statistical properties of data
    def __init__(self, filepath):
        self.filepath = filepath
        self.df = pd.read_csv(self.filepath)

    @property
    def data_info(self):
        return df.info()
    
    def data_head(self, num):
        return df.head(num)
    
    def split_time(self):
        df

In [30]:
filepath = '../data/DT.csv'
data_assessment(filepath).data_head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-07-22,139.059998,139.910004,138.300003,138.699997,138.699997,846300
1,2019-07-23,139.080002,139.440002,136.220001,137.770004,137.770004,843700
2,2019-07-24,137.350006,140.149994,136.630005,139.960007,139.960007,937000
3,2019-07-25,139.820007,139.889999,137.809998,138.740005,138.740005,1071300
4,2019-07-26,139.770004,142.059998,139.429993,140.729996,140.729996,1089500
5,2019-07-29,141.000000,141.360001,134.710007,138.220001,138.220001,976700
6,2019-07-30,136.160004,139.149994,135.139999,137.490005,137.490005,915700
7,2019-07-31,137.990005,139.479996,133.360001,135.309998,135.309998,1266800
8,2019-08-01,135.410004,138.869995,134.399994,135.059998,135.059998,1209700
9,2019-08-02,133.729996,133.729996,123.809998,126.470001,126.470001,2944900